mixin player(name)
    div(data-type='#{name}').choiceDisplay

    ul(data-type='#{name}')
        each c in ['rock', 'paper', 'scissors', 'lizard', 'spock']
            li.choice(title='#{c}')
                img(src='img/thumb/#{c}.png' alt='#{c}')

    input(type='button' value='Random' data-type='#{name}')

    fieldset
        legend Random Button AI 
        span(class='#{name} controls' id='ai')
            label Smarter(?) AI
                input(type='radio' value='smarter' name='#{name}' checked)
            label Smart AI
                input(type='radio' value='smart' name='#{name}')
            label Dumb AI
                input(type='radio' value='dumb' name='#{name}')

doctype

html(lang='en')
    head
        meta(charset='utf-8')

        title RPSLS!

        link(href='css/base.css', rel='stylesheet')
    body
        #player-1
            h1 Human

            +player('human')

        #player-2
            h1 Computer 

            +player('computer')

        h1#vs VS.

        .wrap
            p#results
                span Result:
                span#msg

            fieldset
                legend Controls
                span#sim
                    input#btnSimulation(type='button' value='Simulate')
                    input#txtSimulation(type='text' value='10000')
                span#reset.controls
                    input#btnReset(type='button' value='Reset')

            fieldset
                legend Stats
                div
                    label
                        span.header Human:
                        span#humanStats 0 - 0%
                    label
                        span.header Computer:
                        span#computerStats 0 - 0%
                    label
                        span.header Ties:
                        span#tieStats 0 - 0%
                    label
                        span.header Total:
                        span#totalStats 0

        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
        script(src='js/rpsls.js')
        script(src='js/interaction.js')
