mixin player(name)
    div(data-type='#{name}').choiceDisplay

    ul(data-type='#{name}')
        each c in ['rock', 'paper', 'scissors', 'lizard', 'spock']
            li.choice(title='#{c}')
                img(src='img/thumb/#{c}.png' alt='#{c}')

    input(type='button' value='Random' data-type='#{name}')

doctype

html(lang='en')
    head
        meta(charset='utf-8')

        title RPSLS!

        link(href='css/base.css', rel='stylesheet')
    body
        #player-1
            h1 Player 1

            +player('human')

        #player-2
            h1 Computer 

            +player('computer')

        h1#vs VS.

        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
        script(src='js/rpsls.js')
        script(src='js/interaction.js')
